<!-- Configuration -->
<div class="general-block-decorator">
    <div class="row">

        <div class="col-md-12 title title-without-tabs">
            {intl d='stockalert.bo.default' l='Configuration.'}
        </div>

        <div class="form-container">
            <div class="col-md-12">

                {form name="stockalert.configuration.form"}
                <form method="POST" id="stockalert-form" action="{url path="/admin/module/stockalert/configuration"}"
                    {form_enctype form=$form} class="clearfix">

                    {form_hidden_fields form=$form}

                    {render_form_field form=$form field="success_url" value={url path='/admin/module/StockAlert'}}

                    {if {config key="check-available-stock"} != "1"}
                    <p class="alert alert-info">
                        {intl d='stockalert.bo.default' l='The stock is not not use on the site. Please set the config variable check-available-stock to 1.'}
                    </p>
                    {/if}

                    {if $form_error}
                        <div class="alert alert-danger">{$form_error_message}</div>
                    {/if}

                    {render_form_field form=$form field="enabled"}

                    {render_form_field form=$form field="threshold"}

                    {render_form_field form=$form field="emails"}

                    <button type="submit" id="stockalert-save" name="stockalert_save" value="save" class="form-submit-button btn btn-primary" title="{intl d='stockalert.bo.default' l='Save'}">{intl d='stockalert.bo.default' l='Save'}</button>
                </form>
                {/form}

            </div>

        </div>

    </div>
</div>

<div class="general-block-decorator">
    <div class="row">

        <div class="col-md-12 title title-without-tabs">
            {intl d='stockalert.bo.default' l='List of current subscriptions.'}
        </div>
        {$limit={$smarty.get.limit|default:100}}
        {$page={$smarty.get.page|default:1}}

        {if {count type="restocking-alert"} < $limit * $page}
            {$page=1}
        {/if}

        <div class="col-md-12">
            {ifloop rel="restocking-alert"}
            <div class="table-responsive">
                <table class="table table-striped table-condensed" id="alert_list">
                    <thead>
                        <tr>
                            <th>{intl d='stockalert.bo.default' l='Date'}</th>
                            <th>{intl d='stockalert.bo.default' l='Email'}</th>
                            <th>{intl d='stockalert.bo.default' l='Product'}</th>
                            {*<th class="actions">{intl l='Actions'}</th>*}
                        </tr>
                    </thead>
                    <tbody>
                    {loop type="restocking-alert" name="restocking-alert" limit=$limit page=$page}
                        <tr>
                            <td>{format_date date=$CREATE_DATE output="date"}</td>
                            <td>{$EMAIL}</td>
                            <td>
                                {loop type="product_sale_elements" name="pse" id=$PRODUCT_SALE_ELEMENTS_ID limit="1"}
                                    {loop type="product" name="product" id=$PRODUCT_ID limit="1"}
                                        <a href="{url path='/admin/products/update' product_id=$ID}">{$ID}. {$TITLE}</a>
                                    {/loop}
                                {/loop}
                            </td>
                        </tr>
                    {/loop}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100">
                                {include
                                    file = "includes/pagination.html"

                                    loop_ref       = "restocking-alert"
                                    max_page_count = 10
                                    page_url       = {url path='/admin/module/StockAlert'}
                                }
                             </td>
                         </tr>
                     </tfoot>
                </table>
            </div>
            {/ifloop}
            {elseloop rel="restocking-alert"}
                <div class="alert alert-warning">
                    <p>
                        {intl d='stockalert.bo.default' l='There is no subscriptions.'}
                    </p>
                </div>
            {/elseloop}
        </div>
    </div>
</div>
